.logo-container {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  justify-content: center;
  width: 190px;
  height: 190px;
  border: 3px solid black;

}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-wrapper {
  position : relative;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}


.image-wrapper-relative {
  position: relative;
  width: 150px;
  height: 130px;
  margin: 10px;

}
.image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.heading {
  text-align: center;
  margin: 20px 0;
}



.image p {
  margin: 5px 0;
}
/* Additional styling for download button */
.image-wrapper button {
  border-radius: 0; /* Remove border radius */
  padding: 5px 10px; /* Adjust padding */
  font-size: 12px; /* Adjust font size */
}


/* delete and download icons  */
.icon-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.icon-container > * {
  /* padding: 5px; */
  color: red;
  /* background-color: rgb(0, 0, 0, 0.5);   */
  cursor: pointer;
}

/* center the upload button  */
/* .upload-form-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */
.upload-button-container {
  display: flex;
  justify-content: center;
}

.download-button-container {
  margin-top: 10px;
}